In [226]:
import os
import requests
import json
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi

%matplotlib inline

In [227]:
load_dotenv()

True

In [228]:
# Retrieve API keys for Alpaca
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

In [229]:
# Create REST object for Alpaca calls
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2"
)

In [238]:
tickers = ["FB", "AAPL", "AMZN", "NFLX", "GOOG"]
btc_ticker = ["BTCUSD"]
timeframe = "1Day"
start_date = pd.Timestamp("2015-01-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2022-04-20", tz="America/New_York").isoformat()

In [239]:
initial_closing_prices = alpaca.get_bars(
    tickers,
    timeframe,
    start=start_date,
    end=end_date
).df

initial_closing_prices.index = initial_closing_prices.index.date
initial_closing_prices

,open,high,low,close,volume,trade_count,vwap,symbol
2015-12-01,118.73,118.81,116.860,117.34,34852374,187129,117.756760,AAPL
2015-12-02,117.00,118.11,116.080,116.28,33385643,180616,117.151198,AAPL
2015-12-03,116.55,116.79,114.220,115.20,41560785,245330,115.434888,AAPL
2015-12-04,115.20,119.25,115.110,119.03,57776977,307788,118.187290,AAPL
2015-12-07,118.98,119.86,117.810,118.28,32080754,190809,118.509111,AAPL
...,...,...,...,...,...,...,...,...
2022-04-13,343.92,352.00,341.155,350.43,3206212,86528,348.663577,NFLX
2022-04-14,350.95,352.00,339.860,341.13,4335637,104039,343.169252,NFLX
2022-04-18,340.00,342.36,331.615,337.86,5095061,131961,336.501791,NFLX
2022-04-19,333.22,351.68,333.220,348.61,20898987,427721,301.205417,NFLX
2022-04-20,245.00,248.70,212.510,226.19,133313249,2173950,226.546273,NFLX

In [237]:
btc_closing_prices = alpaca.get_crypto_bars(
    btc_ticker,
    timeframe,
    start=start_date,
    end=end_date
).df

btc_closing_prices = btc_closing_prices[~btc_closing_prices.index.duplicated(keep='first')]
btc_closing_prices.index = btc_closing_prices.index.drop_duplicates()
btc_closing_prices.index = btc_closing_prices.index.date
btc_closing_prices

,exchange,open,high,low,close,volume,trade_count,vwap,symbol
2015-01-07,CBSE,360.00,360.00,264.81,275.44,6.420000,634,298.877741,BTCUSD
2015-01-08,CBSE,297.08,314.91,265.50,288.99,3.930000,393,289.251781,BTCUSD
2015-01-12,CBSE,260.00,260.00,260.00,260.00,1.000000,1,260.000000,BTCUSD
2015-01-13,CBSE,200.00,221.00,200.00,219.63,0.030000,3,213.543333,BTCUSD
2015-01-14,CBSE,220.00,220.00,109.87,120.00,11.274638,1115,155.605993,BTCUSD
...,...,...,...,...,...,...,...,...,...
2022-04-15,CBSE,40113.36,40850.00,39950.00,40545.39,6119.131320,424598,40345.597302,BTCUSD
2022-04-16,CBSE,40545.39,40699.99,40005.00,40299.60,3816.288715,312733,40337.494118,BTCUSD
2022-04-17,CBSE,40299.13,40605.46,38708.52,38839.10,6467.496525,363448,39900.895649,BTCUSD
2022-04-18,CBSE,38839.92,41268.44,38550.00,40868.59,12415.506161,547797,39969.599348,BTCUSD
2022-04-19,CBSE,40870.07,41772.94,40571.99,41363.69,10162.496080,440807,41284.492590,BTCUSD

In [244]:
btc_closing_prices.index = pd.to_datetime(btc_closing_prices.index)
btc_closing_prices.loc['2022-04-19', "close"]

41363.69

In [242]:
fb = initial_closing_prices[initial_closing_prices["symbol"] == "FB"]
aapl = initial_closing_prices[initial_closing_prices["symbol"] == "AAPL"]
amzn = initial_closing_prices[initial_closing_prices["symbol"] == "AMZN"]
nflx = initial_closing_prices[initial_closing_prices["symbol"] == "NFLX"]
goog = initial_closing_prices[initial_closing_prices["symbol"] == "GOOG"]

closing_prices["FB"] = fb["close"]
closing_prices["AAPL"] = aapl["close"]
closing_prices["AMZN"] = amzn["close"]
closing_prices["NFLX"] = nflx["close"]
closing_prices["GOOG"] = goog["close"]
closing_prices["BTC"] = btc_closing_prices["close"]
closing_prices.tail(20)

              AAPL      FB     AMZN    NFLX     GOOG       BTC
2022-03-23  170.21  213.46  3268.16  374.49  2770.07  42932.39
2022-03-24  174.07  219.57  3272.99  375.71  2826.24  44116.67
2022-03-25  174.72  221.82  3295.47  373.85  2830.43  44433.32
2022-03-28  175.60  223.59  3379.81  378.51  2839.00  47624.51
2022-03-29  178.96  229.86  3386.30  391.82  2865.00  47255.62
2022-03-30  177.77  227.85  3326.02  381.47  2852.89  47031.64
2022-03-31  174.61  222.36  3259.95  374.59  2792.99  44655.76
2022-04-01  174.31  224.85  3271.20  373.47  2814.00  46548.53
2022-04-04  178.44  233.89  3366.93  391.50  2872.85  46773.34
2022-04-05  175.06  231.84  3281.10  380.15  2821.26  45344.20
2022-04-06  171.59  223.30  3175.12  368.35  2743.52  43387.65
2022-04-07  172.14  222.95  3155.69  362.15  2729.30  43550.51
2022-04-08  170.09  222.33  3089.21  355.88  2680.21  42407.04
2022-04-11  165.75  216.46  3022.44  348.00  2595.93  39929.20
2022-04-12  167.66  214.14  3015.75  344.10  2567.49  40140.57
2022-04-13  170.40  214.99  3110.82  350.43  2605.72  41298.77
2022-04-14  165.29  210.18  3034.13  341.13  2545.06  40113.50
2022-04-18  165.07  210.77  3055.70  337.86  2559.22  40868.59
2022-04-19  167.40  217.31  3162.31  348.61  2610.62  41363.69
2022-04-20  167.23  200.42  3079.96  226.19  2564.91       NaN